.btn {
    background-image: linear-gradient(bottom, rgb(112,87,65) 3%, rgb(163,136,102) 82%);
    background-image: -o-linear-gradient(bottom, rgb(112,87,65) 3%, rgb(163,136,102) 82%);
    background-image: -moz-linear-gradient(bottom, rgb(112,87,65) 3%, rgb(163,136,102) 82%);
    background-image: -webkit-linear-gradient(bottom, rgb(112,87,65) 3%, rgb(163,136,102) 82%);
    background-image: -ms-linear-gradient(bottom, rgb(112,87,65) 3%, rgb(163,136,102) 82%);
    background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0.03, rgb(112,87,65)),
    color-stop(0.82, rgb(163,136,102)));
    color:#4e3c2a;
    border-radius: 20px;
    padding:3px 17px;
    text-shadow:0 1px 0 #aa8863;
    border:1px solid #5d4d3a;
    font-size:18px;
    font-style: italic;
}

#note {
    display:block;
    width:340px;
    height:240px;
    position:relative;
    margin:40px 0 0 20px;
}

.lines {
    position: absolute;
    width:100%;
    opacity: 0.6;
    top:36px;
}

.lines span { display: block; }

.horizontal span {
    width:100%;
    height:1px;
    background: linear-gradient(to right, rgba(236,231,191,1),rgba(211,206,167,1), rgba(236,231,191,1));
    background-image: -o-linear-gradient(right, rgba(236,231,191,1),rgba(211,206,167,1), rgba(236,231,191,1));
    background-image: -moz-linear-gradient(right, rgba(236,231,191,1),rgba(211,206,167,1), rgba(236,231,191,1));
    background-image: -webkit-linear-gradient(right, rgba(236,231,191,1),rgba(211,206,167,1), rgba(236,231,191,1));
    background-image: -ms-linear-gradient(right, rgba(236,231,191,1),rgba(211,206,167,1), rgba(236,231,191,1));
    margin-bottom:28px;
}

.vertical { margin:-239px 0 0 30px; }

.vertical span {
    float:left;
    margin-right:5px;
    width:1px;
    height: 237px;
    background: linear-gradient(to bottom, rgba(236,231,191,1),rgba(211,206,167,1), rgba(236,231,191,1));
    background-image: -o-linear-gradient(bottom, rgba(236,231,191,1),rgba(211,206,167,1), rgba(236,231,191,1));
    background-image: -moz-linear-gradient(bottom, rgba(236,231,191,1),rgba(211,206,167,1), rgba(236,231,191,1));
    background-image: -webkit-linear-gradient(bottom, rgba(236,231,191,1),rgba(211,206,167,1), rgba(236,231,191,1));
    background-image: -ms-linear-gradient(bottom, rgba(236,231,191,1),rgba(211,206,167,1), rgba(236,231,191,1));
}

.sticky {
    background: url('https://raw.github.com/Arbaoui-Mehdi/Sticky-Notepaper/master/images/noise.png') repeat #f3efd1;
    width:100%;
    height: 100%;
    border:1px solid #f3f0d3;
    box-shadow: 1px 2px 4px -1px rgba(0,0,0,0.2);
    text-align: center;
}

.inner {
    height:100%;
    box-shadow: inset 0 0 22px 8px rgba(220,215,174,0.35);
    z-index:1;
}

.sticky .paper {
    position: absolute;
    line-height: 1.4em;
    font-size: 21px;
    color: #494949;
    padding: 43px 10px 0 37px;
}

.paper b {
    background:#fdfbf0;
    padding:0 5px;
    font-size:17px;
}

.scratch {
    display:block;
    background-color:rgba(255,255,255,0.4);
    width:45%;
    height:33px;
    margin:-20px 0 0 28%;
    float:left;
    transform: rotate(-2deg);
    -ms-transform: rotate(-2deg); /* IE 9 */
    -webkit-transform: rotate(-2deg); /* Safari and Chrome */
    -o-transform: rotate(-2deg); /* Opera */
    -moz-transform: rotate(-2deg); /* Firefox */
    box-shadow: 1px 2px 2px -1px rgba(0, 0, 0, 0.1);
}


#data{
    padding: 20px;
}

table{
    width:100%;
    table-layout: fixed;
    padding: 5px;
}
.tbl-header{
    background-color: rgba(87, 173, 207, 0.56);
}
.tbl-content{
    height:300px;
    overflow-x:auto;
    margin-top: 0;
    border: 6px solid rgba(87, 173, 207, 0.56);
    background-color: white;
}
th{
    padding: 15px 5px;
    text-align: left;
    font-weight: 500;
    font-size: 12px;
    color: black;
    background-color: white;
    text-transform: uppercase;
}
td{
    padding: 5px;
    text-align: left;
    vertical-align:middle;
    font-weight: 300;
    font-size: 12px;
    color: black;
    background-color: #6d206b;
    opacity: .6;
    height: 30px;

}

::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.3);
}
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.3);
}

body{
    background: #ffeec3 url("http://previews.123rf.com/images/notkoo2008/notkoo20081103/notkoo2008110300310/9221254-seamless-fast-food-pattern--Stock-Vector-pizza-background.jpg");

}

header{
    float: right;
    font-size: 45px;
    position: absolute;
    right: 20%;
}

#haha {
    background-color: skyblue;
}
